header {
    display: inline-flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #969090;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 10px 20px;
    font-size: 1rem;
    align-items: center;
    padding: 0;
}

li {
    cursor: pointer;
    z-index: 1;
}

.inicio {
    background-color: #502bd6e8;
    border-radius: 13px;
    padding: 8px 30px;
    margin-left: 8px;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    ul {
        gap: 2em;
        font-size: 1.2rem;
    }

    header {
        padding: 10px 30px;
    }
    .inicio {
        padding: 12px 30px;
    }
}